$background: #2c2c32;

* {
  all: unset;
}

.main-monitor-top-bar, .popup-calendar, .power-controls {
  font-family: "Inconsolata";
  font-size: 11pt;
  color: rgba(#ffffff, 0.85);
  background-color: rgba($background, 0.85);
}

.top-bar-contents {
  padding: 0 0 2px 15px;
}

.icon {
  font-size: 0.65em;
  padding-right: 0.75em;
}

.date-and-time-eventbox {
  border-radius: 50px;
  transition: all 200ms ease-in-out;
}
.date-and-time-eventbox:hover {
  background-color: #4e4e4e;
}

.date-and-time-contents {
  padding: 0 10px 0 10px;
}

.volume scale trough highlight {
  all: unset;
  background-color: #aecf96;
  color: #000000;
  border-radius: 10px;
}
.volume scale.is_muted trough highlight {
  background-color: #ff4747;
}
.volume scale trough {
  all: unset;
  background-color: #4e4e4e;
  border-radius: 50px;
  min-height: 10px;
  min-width: 90px;
  margin-left: 4px;
  margin-right: 10px;
}

.system-tray menu {
  background-color: $background;
  color: rgba(#ffffff, 0.8);
}

.system-tray menuitem {
  padding: 0 5px;
}

.system-tray menuitem menu {
  padding: 5px;
}

.system-tray menuitem menu menuitem {
  padding: 5px 10px;
  border-radius: 4px;
}

.system-tray menuitem menu menuitem:hover {
  background-color: #4e4e4e;
}

.power-controls-button {
  color: #ff4747;
  font-size: 6pt;
  padding: 2px 16px 0 16px;
  margin-left: -20px;
}
.power-controls-button:hover {
  color: #ffffff;
  background-color: #5C2323;
}
.power-controls {
  font-size: 20pt;
  padding-top: 100px;
}
.power-controls button {
  padding: 5px;
  margin: 5px 10px;
  background-color: #343434;
}
.power-controls button:hover {
  background-color: #5C2323;
}
